[Unit]
Description=QR Music box
After=mopidy.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/python /home/pi/qr.py

[Install]
WantedBy=multi-user.target
